{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sri Muthu Clinic</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="icon">
            
            <nav class="navbar navbar-expand-lg  navbar-light  fixed-top" style="background-color: #c0dbe7;">
                <div class="container">
                  <a class="navbar-brand" href="{% url 'home-page' %}" style="font-weight: bold; " alt="icon"> Sri Muthu Clinic</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                      <a class="nav-link" aria-current="page" href="{% url 'about-page' %}"></i>About</a>  
                      <a class="nav-link" aria-current="page" href="{% url 'service-page' %}"></i>Services</a>
                      <a class="nav-link" aria-current="page" href="{% url 'book-page' %}"></i>Appointment</a>
                      {% if request.user.is_authenticated %}
                        <a class="nav-link" aria-current="page" href="{% url 'schedule-page' %}"></i>Appointment Schedule</a>
                        <a class="nav-link" aria-current="page" href="#"><i class="fa fa-user"></i> {{request.user}}</a>
                        <a class="nav-link" aria-current="page" href="{% url 'logout-page' %}"><i class="fa fa-sign-out"></i> Logout</a>
                      {% else %}
                        <a class="nav-link" href="{% url 'login-page' %}"><i class="fa fa-sign-in"></i> Login</a>
                        <a class="nav-link" href="{% url 'signup-page' %}"><i class="fa fa-users"></i> Signup</a>
                      {% endif %}
                        
                    </div>
                  </div>
                </div>
              </nav>
        </div>
        <div class="main">
            <div class="text">
                <h1 style="margin-top: 200px;">A perfect smile to begin with</h1>
                <p>With more than 1500 happy patients we can guarantee your smile.</p>
                <button><a href="{% url 'book-page' %}">Book an appointment</a></button>
            </div>
            <div class="hero">
                <img src="{%static 'img\homepage22.jpg'%} " style="margin-top:150px;height:350px;width:500px;border-radius:10px;margin-left:200px;" alt="pic">
            </div>
        </div>
        <!-- <div class="calc">
            <div class="pat">
                <h4></h4>
                <p>Happy Patients</p>
            </div>
            <div class="app">
                <h4></h4>
                <p>Appointments Booked</p>
            </div>
        </div> -->
    </header>
    <section class="first">
        <p>Treatments</p>
        <h2>What we can do for your teeth</h2>
        <div class="treats">
            <div class="pg">
                <img src="{%static 'img/implant.png'%}" alt="implant">
                <p>An implant, covers the process of placing the artificially.</p>
            </div>
            <div class="pg">
                <img src="{%static 'img/bracelet.png'%}" alt="brace">
                <p>Dental braces align teeth, correcting bites and improving oral health.</p>
            </div>
            <div class="pg">
                <img src="{%static 'img/whitening.png'%}" alt="whitening">
                <p>Teeth whitening brightens smiles, removing stains for a confident appearance.</p>
            </div>
            <div class="pg">
                <img src="{%static 'img/rootcanal.png'%}" alt="root canal">
                <p>Root canal, dental procedure treats infected tooth pulp, relieves pain.</p>
            </div>
            <div class="pg">
                <img src="{%static 'img/cleaning.png'%}" alt="cleaning">
                <p>Root cleaning removes plaque and tartar to maintain healthy tooth foundations.</p>
            </div>
            <div class="pg">
                <img src="{%static 'img/oralhygiene.png'%}" alt="oralhygiene">
                <p>Oral hygiene vital, brushing, flossing, and regular check-ups ensure healthy smiles.</p>
            </div>
        </div>
    </section>
    <section class="second">
        <img src="{%static 'img/lab.jpg'%}" alt="lab">
        <h2>Facilties</h2>
        <p>Discover advanced dental care at Sri Muthu Clinic. Our state-of-the-art facility features cutting-edge technology, including digital imaging for precise diagnoses, chairside CAD/CAM for same-day restorations, and stringent sterilization protocols for your safety. We leverage innovation to provide top-tier dental services, ensuring your comfort and peace of mind.   </p>
    </section>
    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <h3>Contact Information</h3>
                <p>Sri Muthu Dental Clinic</p>
                <p>Bus stop,101</p>
                <p>Rajaji Street, Anna Vazhaivu</p>
                <p>Karur, 639001</p>
                <p>Phone: +91 93458 47414</p>
                <p>Email: info@srimuthudentalclinic.com</p>
            </div>
            <div class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <!-- <li><a href="#">Home</a></li> -->
                    <li><a href="{% url 'about-page'%}">About</a></li>
                    <li><a href="{% url 'book-page'%}">Appointment</a></li>
                    <li><a href="{% url 'service-page'%}">Services</a></li>
                    <li><a href="{% url 'login-page'%}">Login/Register</a></li>
                </ul>
            </div>
            <div class="social-media">
                <h3>Follow Us</h3>
                <a href="#"><img src="{%static 'img/facebook-square-icon.png'%}" alt="Facebook"></a>
                <a href="#"><img src="{%static 'img/whatsapp-square-icon.png'%}" alt="Whatsapp"></a>
                <a href="#"><img src="{%static 'img/instagram-square-icon.png'%}" alt="Instagram"></a>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2023 Sri Muthu Dental Clinic. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>